<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=sql.bsite.net\MSSQL2016;Persist Security Info=True;User ID=musfirali_DbmsProject;Password=h!tm@n.786;Encrypt=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
